* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
/*  line-height: 18px;
*/  font-weight: 300;
}

body {
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 200;
}

p { margin: 1em 0; }

a         { color: #CC333F; }
a:hover   { color: #EB6841; }

h1 a{
  text-decoration: none;
}

.wrap {
  margin: 0px auto;
  max-width: 1000px;
}


.header {
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
}

.header a{
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  display: inline-block;
}

.header .title {

}

.header {
  position: relative;
}

.header span.bg-image{
  background-image: url('https://graph.facebook.com/oto.brglez/picture?type=square&height=200');
  background-size: auto 50px;
  width: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  background-repeat: no-repeat;
}

.header a.logo{
  background-color: #CC333F;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-left: 60px;
  color: white;
  text-decoration: none;
}

.posts-wrap {

}

.posts-wrap .posts {

}

.posts-wrap ul, .posts-wrap li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.post-single .post,
.posts-wrap .posts .post {
  min-height: 70px;
  margin-bottom: 30px;
}

.post-single h1,
.posts-wrap h1 {
  margin: 0px;
}

.post-single h1 a,
.posts-wrap h1 a{
  color: #000;
}

.post-single .details,
.post .details {
  color: #666;
  font-size: 16px;
}


.title-wrap {
  position: relative;
  padding-left: 60px;
}

.title-wrap .thumb{
  position: absolute;
  left: 0px;
  top: 0px;
}

.title-wrap .thumb img{
  width: 50px;
}

.post .center-img {
  text-align: center;
}

.post .center-img img{
  width: 80%;
  margin: 0px auto;
}

.footer{
  border-top: 2px solid #EEE;
  margin-top: 60px;
  padding-top: 20px;
}

/*
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
}

.site {
  font-size: 115%;
  text-align: justify;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}
*/

.post pre {
  border: 1px solid #ddd;
  background-color: #F2F2F2;
  padding: 0 .4em;
  margin-bottom: 10px;
  font-size: 14px;
}

.post code {
  font-size: 14px;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #F2F2F2;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

table.table {
  border-collapse: collapse;
  margin: 0px auto;
  width: 90%;
}

table.table td,
table.table th {
  padding: 3px;
  border-bottom: 1px solid #EEE;
}

table.table tbody tr:last-child td,
table.table tbody tr:last-child th {
  border-bottom: none;
}

table.table thead tr:last-child td,
table.table thead tr:last-child th {
  border-bottom: 2px solid #CCC;
}

